      body{
        background-image: url('low_poly_background.png');
            font-family: 'Tahoma', sans, serif;
      }
      h1 {
        color:#ededed;
              text-align:center;
      }
      h2 {
        color:#ededed;
              text-align:center;
      }
      h3 {
        color:#ededed;
              text-align:center;
      }
      h4 {
        color:#ededed;
              text-align:center;
      }
      h5 {
        color:#ededed;
              text-align:center;
      }
      h6 {
        color:#ededed;
              text-align:center;
      }
      a {
        color:#ededed;
              text-align:center;
      }
      p {
        color:#ededed;
              text-align:center;
      }
      div {
            border-radius: 25px;
            width:12;
            background-color:#383838;
            resize: both;
            overflow: auto;
            align: center;
      }
